@charset "utf-8";
blockquote,
body,
button,
dd,
dl,
dt,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
input,
legend,
li,
ol,
p,
pre,
td,
textarea,
th,
ul,
img {
    margin: 0;
    padding: 0;
}
body,html {
    height: 100%;
    width: 100%;
    color: #505050;
    font-family: "微软雅黑",helvetica;
    font-size: 14px;
    line-height: 1.75em;
}
.clear:after{ display:block;clear:both; content:"."; visibility:hidden; height:0;}
.clear{zoom:"1";}


#header{
    padding-top: 62px;
    padding-bottom: 62px;
    background: url(../img/bg.jpg);
    background-repeat: no-repeat;
    background-position: center 20%;
    background-size: cover;
    text-align: center;
    .container{
        padding: 48px 15px;
        margin-right: auto;
        margin-left: auto;
        img{
            cursor: pointer;
            margin: 0 auto;
        }
    }

}

.act{border-bottom: 2px solid #e67e22;}


#nav{
            width: 100%;
            text-align: center;
            background: #ffffff;
            border-top: 1px solid #ebebeb;
            border-bottom: 2px solid #e1e1e1; 
            margin-bottom: 35px;
                ul{
                   margin: 0 auto;
                        li{
                        list-style: none;
                        display: inline-block;
                        margin-bottom: -2px;
                        
                        a{
                            color: #505050;
                            line-height: 4em;
                            display: block;
                            padding: 0 21px;
                            cursor: pointer;
                        }
                        a:hover{
                            color: #e67e22;
                        }
                    }
                }
                
        }
        
#nav1{width: 100%;
            text-align: center;
            background: #ffffff;
            border-top: 1px solid #ebebeb;
            border-bottom: 2px solid #e1e1e1; 
            margin-bottom: 35px;
            display: none;
    span{
        display: block;
        text-align: center;
        height: 56px;
        line-height: 56px;
        font-size: 2em;
        cursor: pointer;
    }
}        
        

#section{
        padding: 40px 10%;
        background:#EBEBEB;
    #left{
        float: left;
         width: 64%;
        position: relative;
        overflow: hidden;
        margin-right: 30px;
        article{
            background: #ffffff;
            padding: 35px;
            margin-bottom: 35px;
        header{
            text-align: center;
            h1{
                margin: 0;
                font-size: 2.5em;
                line-height: 1em;
            }
            p{
                margin: 14px 0 0px;
                span{
                    color: #ffffff;
                    background: #e67e22;
                    margin: 0px 7px;
                    white-space: nowrap;
                    a{
                        color: #e67e22;
                        outline: none;
                        text-decoration: none;
                    }
                }
            }
        }
        
        img{width: 100%;margin-top: 30px;margin-bottom: -20px;}
        
        section{
            margin: 30px 0;
            article{
                margin-top: 0;
                margin-bottom: 1.46em;
                margin: 0 0 10px;
                font: 400 18px/1.62 "Georgia", "Xin Gothic", "Hiragino Sans GB", "Droid Sans Fallback", "Microsoft YaHei", sans-serif;
                color: #444443;
            }
            
            p{
                a{
                    border: 1px solid #e67e22;
                    background: #e67e22;
                    color: #ffffff;
                    padding: 7px 20px;
                    border-radius: 2px;
                    display: inline-block;
                    margin-bottom: 0;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 1.42857143;
                    text-align: center;
                    text-decoration: none;
                    white-space: nowrap;
                    vertical-align: middle;
                }
            }
        }
        
        
        footer{
            margin-top: 30px;
            border-top: 1px solid #ebebeb;
            padding: 21px 0 0;
            
            p{
                color: #959595;
                line-height: 28px;
            }
        }
        }
    }
    
    #right{
        float: left;
       width: 33%;
        #shequ{
            background: #ffffff;
            padding: 21px 30px;
            margin-bottom: 35px;
            h4{
                font-weight: 400;
                color: #303030;
                line-height: 1.1;
                margin-top: 0;
                padding-bottom: 7px;
                border-bottom: 1px solid #ebebeb;
                margin-bottom: 21px;
                position: relative;
            }
            h4:after{
                content: "";
                width: 90px;
                height: 1px;
                background: #e67e22;
                position: absolute;
                left: 0;
                bottom: -1px;
            }
            
            p{ 
                margin: 0 0 10px;
                a{
                    color: #e67e22;
                    outline: none;
                    text-decoration: none;
                }
            }
        }
        
        
        #downLoad{
            background: #ffffff;
            padding: 21px 30px;
            margin-bottom: 35px;
            h4{
                font-weight: 400;
                color: #303030;
                line-height: 1.1;
                margin-top: 0;
                padding-bottom: 7px;
                border-bottom: 1px solid #ebebeb;
                margin-bottom: 21px;
                position: relative;
            }
            h4:after{
                content: "";
                width: 90px;
                height: 1px;
                background: #e67e22;
                position: absolute;
                left: 0;
                bottom: -1px;
            }
            p{
                a{
                    border: 1px solid #e67e22;
                    background: #e67e22;
                    color: #ffffff;
                    padding: 7px 2px;
                    border-radius: 2px;
                    display: block;
                    width: 100%;
                }
            }
        }
        
        
        #tag{
            background: #ffffff;
            padding: 21px 30px;
            margin-bottom: 35px;
            h4{
                font-weight: 400;
                color: #303030;
                line-height: 1.1;
                margin-top: 0;
                padding-bottom: 7px;
                border-bottom: 1px solid #ebebeb;
                margin-bottom: 21px;
                position: relative;
            }
            h4:after{
                content: "";
                width: 90px;
                height: 1px;
                background: #e67e22;
                position: absolute;
                left: 0;
                bottom: -1px;
            }
            
            p{
                a{
                    border: 1px solid #ebebeb;
                    padding: 2px 7px;
                    color: #959595;
                    line-height: 1.5em;
                    display: inline-block;
                    margin: 0 7px 7px 0;
                    text-decoration: none;
                    outline: none;
                }
            }
        }
    }
    
  
}
#footer{
        background: #202020;
        color: #959595;
        padding: 0 10%;
        #foot1{
            float: left;
            padding: 0px 25px;
            margin-bottom: 35px;
            width: 25%;
            h4{
                font-size: 1.5em; ;
                font-weight: 400;
                color: #fff;
                line-height: 1.1;
                margin-top: 0;
                padding-bottom: 7px;
                border-bottom: 1px solid #ebebeb;
                margin-bottom: 21px;
                position: relative;
            }
            h4:after{
                content: "";
                width: 90px;
                height: 1px;
                background: #e67e22;
                position: absolute;
                left: 0;
                bottom: -1px;
            }
            
            p{
                padding-bottom: 14px;
                 margin-bottom: 14px;
                 border-bottom: 1px dashed #303030;
                 a{
                     color: #959595;
                     display: block;
                     text-decoration: none;
                 }
                 a:hover{
                     color:#e67e22 ;
                 }
                 span{
                     color: #303030;
                 }
            }
        }
        
        
        #foot2{
            float: left;
            padding: 0px 25px;
            margin-bottom: 35px;
            width: 25%;
            h4{
                font-size: 1.5em; ;
                font-weight: 400;
                color: #fff;
                line-height: 1.1;
                margin-top: 0;
                padding-bottom: 7px;
                border-bottom: 1px solid #ebebeb;
                margin-bottom: 21px;
                position: relative;
            }
            h4:after{
                content: "";
                width: 90px;
                height: 1px;
                background: #e67e22;
                position: absolute;
                left: 0;
                bottom: -1px;
            }
            
            p{
                a{
                    border: 1px solid #ebebeb;
                    padding: 2px 7px;
                    color: #303030;
                    line-height: 1.5em;
                    display: inline-block;
                    margin: 0 7px 7px 0;
                    text-decoration: none;
                    outline: none;
                }
            }
            
        }
        
        
        #foot3{
            float: left;
            padding: 0px 30px;
            margin-bottom: 25px;
            width: 25%;
            h4{
                font-size: 1.5em; ;
                font-weight: 400;
                color: #fff;
                line-height: 1.1;
                margin-top: 0;
                padding-bottom: 7px;
                border-bottom: 1px solid #ebebeb;
                margin-bottom: 21px;
                position: relative;
            }
            h4:after{
                content: "";
                width: 90px;
                height: 1px;
                background: #e67e22;
                position: absolute;
                left: 0;
                bottom: -1px;
            }
            
            p{
                padding-bottom: 14px;
                 margin-bottom: 14px;
                 border-bottom: 1px dashed #303030;
                 a{
                     color: #959595;
                     display: block;
                     float: left;
                     text-decoration: none;
                     padding: 0 10px;
                 }
                 a:hover{
                     background:#e67e22 ;
                 }
            }
        }
    }
    
.copyright{background: #111;
    font-size: 13px;
    text-align: center;
    color: #555555;
    padding-top: 28px;
    padding-bottom: 28px;
    border-top: 1px solid #303030;
    .content{
        margin: 0 auto;
        span{
            font-size: 13px;
            text-align: center;
            color: #555555;
            a{
                color: #555555;
                text-decoration: none;
            }
        }
    }
}

@media screen and  (min-width: 1280px){
    .container {
    width: 1170px;
}

}

@media screen and (min-width: 992px) and  (max-width: 1279px){
    .container {
    width: 970px;
}
#left{
    float: none !important;
    width: 100% !important;
}
#right{
    float: none !important;
    width: 100% !important;
}

}
@media screen and (min-width: 830px) and (max-width:991px){
    .container {
    width: 750px;
}
#left{
    float: none !important;
    width: 100% !important;
}
#right{
    float: none !important;
    width: 100% !important;
}

}

@media screen and (max-width: 829px){
    .container {
    width: 290px;
}

#nav{
    display: none;
}

#nav1{
    display: block;
}

#left{
    float: none !important;
    width: 100% !important;
}
#right{
    float: none !important;
    width: 100% !important;
}

#foot1,#foot2,#foot3{
    float: none !important;
    width: 100% !important;
}

}
